Package: daniel.skipdevicefamilycheck
Name: skipDeviceFamilyCheck
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Allow iPad app installation on any device
Maintainer: daniel
Author: daniel
Section: Tweaks
